{% load menu_tags i18n wagtailcore_tags %}

<!-- https://getbootstrap.com/docs/5.0/examples/navbars/ -->

<nav class="navbar navbar-expand border rounded  my-2" aria-label="Second navbar example">
  <div class="container-fluid ">
    <a class="navbar-brand text-secondary" href="/{{request.LANGUAGE_CODE}}"><i class="bi bi-house-door"></i> ramiboutas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-globe"></i> {{ self.locale }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            {% for translation in page.get_translations.live %}
              {% get_language_info for translation.locale.language_code as lang %}
                <li> <a class="dropdown-item"  rel="alternate"
                    href="{% pageurl translation %}"  hreflang="{{ language_code }}">
                    {{ lang.name_local }}
                  </a> </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <button class="btn btn-light border border-light float-end"
        hx-get="{% url 'open_search_modal' %}" hx-target="#modals-here">
        <i class="bi bi-search"></i> {% trans "Search" %}
      </button>
    </div>
  </div>
</nav>
