{% load cache static wagtailcore_tags wagtailuserbar wagtailmetadata_tags %}


<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8"/>

        {% block meta_tag %}
          <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
          </title>
          <meta name="description" content="{{ page.search_description }}" />
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if self.canonical_url %}
          <link rel="canonical" href="{{ page.canonical_url }}"/>
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-toc.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_blog.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="container {% block body_class %}{% endblock %}" data-bs-spy="scroll" data-bs-target="#toc">
        {% wagtailuserbar %}

        {% include "partials/navbar.html" %}

        <main>
          {% block content %}{% endblock %}
        </main>

        {% include "partials/footer.html" %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-toc.min.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
